@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Poppins:wght@300;400;600;700;900&family=Roboto:wght@500;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* the header section */
header {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 25px;
  width: 375px;
  margin: auto;
  position: relative;
}

#logo {
  display: block;
  color: #fff;
  text-decoration: none;
}

#links {
  display: none;
}

.mail {
  display: none;
}

.close{
  position: absolute;
  top: 0;
  right: 100px;
  z-index: 999;
  font-size: 30px;
  color: #fff;
}

.menu-popup{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.menu-popup .mobile_specific-links{
  display: flex;
  flex-direction: column;
  
}

.menu-popup .mobile_specific-links .nav-link a{
  display: flex;
  
  color: red;
  
}
/* headline section */
.headline {
  background: #1c1a19;
  color: #fff;
  padding: 130px 25px;
  background-image: url(./Images/Group.png);
  background-position: 294px 380px;
  background-repeat: no-repeat;
  width: 375px;
  margin: auto;
}

h1 {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;

  /* or 114% */
  letter-spacing: 0.37px;

  /* Theme 3 / Primary 1 */
  color: #ff6b00;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title {
  height: 100px;
  font-size: 24px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 0;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  margin: 10px 0 10px 0;
  width: 327px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 180px;
  font-size: 20px;
  margin-top: 25px;
}

.fa-brands,
.fa-solid {
  color: #fff;
}

/* About myself section */
.About-myself {
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: flex-start;
  gap: 12px;
  margin: auto;
}

.Recent-work {
  margin-top: 80px;
}

.Recent {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #1c1a19;
  height: 83px;
}

.line {
  border: 1px solid #212121;
}

.about-img {
  height: 237px;
  margin-top: 50px;
  background-image: url('./Images/Img--Placeholder.png');
}

.Multi-Post-Heading {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.Multi-Post-stories {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #091e42;
  margin-top: 12px;
  line-height: 24px;
}

.Multi-Post-ul {
  width: 100%;
  margin-bottom: 15px;
}

.Multi-Post-li {
  border: 1px solid #8993a4;
  padding: 9px 12px;
  margin-right: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.Multi-Post-project {
  align-items: center;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  color: #fff;
  border-style: none;
}

/* work section */
.work-container {
  width: 375px;
  margin: auto;
  background-color: #fff;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.art-container,
.art-container1,
.art-container2 {
  background-image: url('./Images/Img-Placeholder10.png');
  margin-bottom: 20px;
}

.art-container > #hide-me,
.art-container1 > #hide-me,
.art-container2 > #hide-me {
  display: none;
}

.art-container:hover #hide-me,
.art-container1:hover #hide-me,
.art-container2:hover #hide-me {
  display: flex;
  text-align: center;
}

.profesional-Art-heading {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  width: 295px;
  height: 81px;
  line-height: 44px;
  color: #fff;
  padding: 80px 0 0 10px;
}

.profesional-Art-content {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  width: 295px;
  height: 87px;
  color: #fff;
  margin-bottom: 0;
  padding-left: 10px;
}

.profesional-Art-ul {
  padding-left: 10px;
  width: 70%;
  margin-top: 0;
  gap: 20px;
}

.profesional-Art-li {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
  margin-top: 50px;
  gap: 20px;
  padding: 10px 12px;
}

a {
  display: block;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.profesional-Art-btm {
  width: 100%;
  height: 48px;
  background: #ff6b00;
  font-size: 17px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 38px;
  border-style: none;
}

a.profesional-Art-btm {
  display: flex;
  align-items: center;
}

/* footer section */
.about {
  background: #1c1a19;
  margin: auto;
  width: 375px;
  position: relative;
}

h2 {
  color: #ff6b00;
  font-weight: 400;
  font-size: 60px;
  line-height: 88px;
  width: 327px;
  height: 79px;
  padding: 120px 0 0 24px;
  font-family: 'Crete Round', sans-serif;
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  width: 327px;
  height: 148px;
  padding-left: 24px;
}

.footer-btm {
  width: 161px;
  padding: 12px;
  gap: 10px;
  margin-top: 0;
  background: #f55800;
  color: #fff;
  margin-left: 24px;
  border: none;
}

.image-bg {
  position: absolute;
  right: -140px;
  background-image: url('./Images/illustration-about-me-mobile.png');
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}

.image-bg:hover {
  transform: scale(0.7);
}

.footer-img {
  padding-left: 212px;
  margin-top: 280px;
}

.footer-hr {
  border: 1px solid #fff;
  width: 90%;
  margin: auto;
}

.footer-list {
  text-align: center;
  padding-top: 10px;
}

.footer-heading {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.footer-ul {
  display: inline-block;
}

.footer-li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  padding-bottom: 32px;
}

.work {
  text-align: center;
}

.skill {
  text-align: center;
  padding-bottom: 50px;
}

/* ..........btm hover state............ */
.button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}

.button:enabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

/* Contact section starts here */
.contact {
  display: grid;
  margin: auto;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 10px 24px;
  gap: 24px;
  width: 375px;
  height: 844px;
}

.conclusion-txt {
  width: 327px;
  height: 20px;
  line-height: 44px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #172b4d;
  padding-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 330px;
  gap: 24px;
  margin-top: 70px;
  margin-left: 20px;
}

.input-username {
  width: 327px;
  height: 48px;
}

.input-email {
  width: 327px;
  height: 48px;
}

.line-z {
  border: 1px solid #dbd8d7;
  width: 327px;
}

.input-1 {
  height: 18px;
  border: none;
  padding-left: 16px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.textarea {
  height: 114px;
  width: 327px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background-color: #fbf8f7;
  color: #3c3a39;
}

.btn-submit {
  width: 131px;
  height: 48px;
  background-color: #f55800;
  color: #fff;
  border: none;
  margin-left: 98px;
  margin-bottom: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.line-z3 {
  border: 1px solid #dfe1e6;
  width: 327px;
}

.footer-last {
  height: 72px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.brands1 {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 180px;
  font-size: 20px;
  margin: auto;
  gap: 24px;
}

.icon {
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  #logo {
    height: 20px;
    width: 250px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    margin-left: 154px;
  }

  .logo {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 116px;
    margin-top: 3px;
    padding: 10px 12px 10px 12px;
  }

  #links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 24px;
  }

  .dropdown {
    display: flex;
    flex-direction: row;
    margin-right: 156px;
    padding-bottom: 30px;
  }

  a {
    text-decoration: none;
    color: #fff;
    width: 63px;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .mail {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('./Images/Icon\ -\ Mail.png');
    margin-left: 20px;
    margin-top: 20px;
    gap: 30px;
  }

  header {
    width: 100%;
    height: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .headline {
    width: 100%;
    height: 550px;
    background-image: url("./Images/illustration-header2.png");
    background-size: 800px 968px;
    background-position: 100% 30%;
  }

  .brands {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 20px;
    height: 98.96px;
    margin-top: 150px;
  }

  .icon {
    display: block;
    padding: 10px;
  }

  .headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 192px 0;
    position: absolute;
    width: 566px;
    height: 500px;
    left: 143px;
    top: 72px;
  }

  .headi {
    font-family: 'Crete Round', sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 82px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 235px;
    width: 566px;
  }

  .title {
    display: block;
    padding: 0;
    margin-left: 220px;
    width: 556px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    margin-top: auto;
  }

  p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 0;
  }

  .About-myself {
    width: 100%;
    height: 600px;
  }

  .Recent-work {
    height: 52px;
    width: 100%;
    margin-top: -60px;
    display: flex;
    flex-direction: row;
    margin-left: 153px;
  }

  .line {
    width: 794px;
    height: 0;
    margin-top: 150px;
  }

  .middle {
    display: flex;
    flex-direction: row;
    margin-left: 185px;
    margin-top: 70px;
    gap: 24px;
  }

  .about-img {
    background-image: url(./Images/Img-Placeholder4.png);
    background-repeat: no-repeat;
    height: 448px;
    width: 684px;
  }

  .rightblock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    height: 384px;
    margin-top: 50px;
  }

  .Multi-Post-ul {
    height: 40px;
    width: 297px;
  }

  .work-container {
    height: 448px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }

  .art-container {
    height: 435px;
    width: 369px;
    margin-left: 142px;
    background-image: url("./Images/Img-Placeholder10.png");
  }

  .art-container:hover {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .art-container1 {
    height: 435px;
    width: 369px;
    margin-left: 10px;
    background-image: url("./Images/Img-Placeholder11.png");
  }

  .art-container2 {
    height: 435px;
    width: 369px;
    margin-right: 143px;
    background-image: url("./Images/Mask-Group.png");
  }

  .project-card:hover .mycard {
    opacity: 0;
  }

  .v2 {
    padding: 12px;
  }

  .button {
    margin-top: 49px;
  }

  .about {
    width: 100%;
    margin-top: 330px;
    margin-left: 0;
  }

  .about-me-footer {
    height: 582px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .image-bg {
    display: flex;
    flex-direction: row;
    margin-right: 14%;
    background-image: url("./Images/illustration-about-me-d.png");
    background-size: cover;
    background-position: center bottom;
    width: 600px;
    height: 300px;
    margin-top: 10%;
    transform: rotate(360deg);
  }

  .detail {
    display: flex;
    flex-direction: column;
    height: 582px;
    width: 566px;
    margin-left: 100px;
  }

  .about-me {
    height: 78px;
    width: 566px;
    margin-left: 142px;
    font-family: 'Crete Round', sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 82px;
    letter-spacing: 0;
    text-align: left;
  }

  .footer-text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    height: 148px;
    width: 566px;
    margin-left: 142px;
  }

  .footer-btm {
    height: 48px;
    width: 161px;
    padding: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 169px;
  }

  .my-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 596px;
    width: 100%;
  }

  .footer-list {
    height: 281.4558410644531px;
    width: 289.4558410644531px;
    padding: 0;
  }

  .footer-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
  }

  .work {
    height: 336px;
    width: 282px;
    left: 441.4560546875px;
    top: 130px;
  }

  .skill {
    height: 336px;
    width: 282px;
    left: 875px;
    top: 130px;
  }

  .contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-auto-flow: row;
    margin-left: 135px;
    margin-top: 130px;
    height: 400px;
  }

  .conclusion-txt {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    max-width: 500px;
    margin-top: 60px;
  }

  .form {
    height: 330px;
    width: 684px;
    margin-right: 142px;
  }

  .input-username {
    height: 48px;
    width: 684px;
  }

  .input-email {
    height: 48px;
    width: 684px;
  }

  .textarea {
    height: 114px;
    width: 684px;
  }

  .brands1 {
    margin-left: 500px;
  }

  .line-z3 {
    width: 10000px;
    margin-top: 200px;
  }
}
